<li>
  <div class="row-fluid clearfix text-left">
  <span><%= link_to presentation.title, presentation %> by <% if presentation.member %><%= link_to presentation.member.name, presentation.member %> <% end %></span>
  <span><%= link_to short_date(presentation.meeting.time), presentation.meeting, class: "pull-right" %></span>
  <br />
  <span><%= presentation.description %></span>
  <br />
  <span>
    <% if presentation.slides && presentation.slides != "" %> Slides: <%= link_to presentation.slides, presentation.slides %> <% end %>
    <% if presentation.video  && presentation.video != "" %> Video: <%= link_to presentation.video, presentation.video %> <% end %>
  </span>
  <% if !current_member.nil? %>
    <span class="pull-right">
      <% if current_member.admin? %>
        <%= button_to "delete", presentation, method: :delete,
              data: { confirm: "You sure? " }, class: "btn-danger" %>
      <% end %>
    </span>
    <span class="pull-right">
      <% if current_member.admin? || current_member?(presentation.member) %>
        <%= button_to "edit", edit_presentation_path(presentation), method: :get, class: "btn-warning" %>
      <% end %>
    </span>
  <% end %>
  </div>
</li>