<% provide(:title, @presentation.title) %>

<div class="presentation">
  <div class="row-fluid clearfix">
    <div class="col-sm-offset-1 col-xs-12 col-sm-10">
      <div class="row-fluid">
        <h1><%= @presentation.title %> by <% if @presentation.member %><%= link_to @presentation.member.name, @presentation.member %> <% end %></h1>
      </div>
      <div class="row-fluid"><%= link_to short_date(@presentation.meeting.time), @presentation.meeting %>
      </div>

      <div class="row-fluid col-sm-12"><%= @presentation.description %></div>

  <div class ="row-fluid">
    <% if @presentation.slides && @presentation.slides != "" %> <%= link_to 'Slides', @presentation.slides %> <% end %>
    <% if @presentation.video  && @presentation.video != "" %> <%= link_to 'Video', @presentation.video %> <% end %>
  </div>


  <% if !current_member.nil? %>
    <span class="pull-right">
      <% if current_member.admin? %>
        <%= button_to "delete", @presentation, method: :delete,
              data: { confirm: "You sure? " }, class: "btn-danger" %>
      <% end %>
    </span>
    <span class="pull-right">
      <% if current_member.admin? || current_member?(@presentation.member) %>
        <%= button_to "edit", edit_presentation_path(@presentation), method: :get, class: "btn-warning" %>
      <% end %>
    </span>
  <% end %>
</div>