<!--
<div style="background-image: url('<%= asset_pack_path('media/images/101.jpg') %>')">
    <div class="bg-purple-700 text-gray-200 font-semibold align-top p-1 text-center font-serif">
        <p>Established 2005 &mdash; <%= pluralize(@members, 'members') %> strong</p>

        <div class="bg-purple-900 p-4">
            <div class="container mx-auto px-6 flex items-center flex-wrap">
                <div class="lg:w-2/3 relative">
                    <div class="text-gray-200">
                        <h1 class="text-2xl font-extrabold">Columbus Ruby Brigade</h1>
                        <div class="font-extrabold align-bottom">
                            Next Meeting:
                        </div>
                        <div class="pt-0">
                            <%= formatted_date(@next_crb.time) %> at Root Insurance
                        </div>
                        <div class="font-bold align-bottom text-xl my-2">
                            Speaking:
                            <%= render collection: @next_crb.speakers, partial: 'speaker' || "<p>There aren't any speakers signed up. Yet.</p>" %>
                        </div>
                    </div>
                </div>
                <div class="p-16 lg:p-0 lg:w-1/3">
                    <%= image_pack_tag('media/images/logo.png', class: 'md:m-auto') %>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div class="relative bg-gray-50 overflow-hidden" x-data="{ isOpen: false }">
  <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full">
    <div class="relative h-full max-w-screen-xl mx-auto">
      <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
      </svg>
    </div>
  </div>

  <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6">
      <nav class="relative flex items-center justify-between sm:h-10 md:justify-center">
        <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
          <div class="flex items-center justify-between w-full md:w-auto">
            <a href="#" aria-label="Home">
              <img class="h-8 w-auto sm:h-10" src="<%= asset_pack_path('media/images/logo.png') %>" alt="Logo" />
            </a>
            <div class="-mr-2 flex items-center md:hidden">
              <button type="button" @click="isOpen = !isOpen" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" id="main-menu" aria-label="Main menu" aria-haspopup="true">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="hidden md:flex md:space-x-10">
            <a href="https://crb-slack-invite.herokuapp.com/" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Slack</a>
            <a href="http://www.meetup.com/meetup-group-wEkWWOXK/" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Meetup</a>
          <a href="https://twitter.com/columbusrb" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Twitter</a>
          <a href="https://github.com/columbusrb" class="font-medium text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out">Github</a>
        </div>
      </nav>
    </div>

    <div
        x-show="isOpen"
        x-transition:enter="transition ease-out duration-100 transform"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
      <div class="rounded-lg shadow-md">
        <div class="rounded-lg bg-white shadow-xs overflow-hidden" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
          <div class="px-5 pt-4 flex items-center justify-between">
            <div>
                <img class="h-8 w-auto" src="<%= asset_pack_path('media/images/logo.png') %>" alt="" />
            </div>
            <div class="-mr-2">
              <button type="button" @click="isOpen = !isOpen" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Close menu">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="px-2 pt-2 pb-3">
            <a href="https://crb-slack-invite.herokuapp.com/" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">Slack</a>
            <a href="http://www.meetup.com/meetup-group-wEkWWOXK/" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">Meetup</a>
            <a href="https://twitter.com/columbusrb" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">Twitter</a>
            <a href="https://github.com/columbusrb" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">Github</a>
          </div>
        </div>
      </div>
    </div>

    <main class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
        <h2 class="text-4xl tracking-tight leading-10 font-title text-gray-900 sm:text-5xl sm:leading-none md:text-5xl text-center">
            <span class="text-indigo-600">Columbus</span>
            <br class="lg:hidden" />
            Ruby
            <span class="text-indigo-600">Brigade</span>
        </h2>
        <div class="xl:grid grid-cols-4">
            <div class="col-span-1">
                <%= image_pack_tag('media/images/logo.png', class: 'xl:w-auto w-1/3 m-auto') %>
            </div>
            <div class="col-span-3">
                <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                    Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
                </p>
                <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
                    <div class="rounded-md shadow">
                        <a href="#" class="w-full flex items-center justify-center px-16 py-6 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                            RSVP on Meetup
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
  </div>
</div>
