<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @speaker.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @speaker.url %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
